@{
    Layout = null;
}
<html>
    <head>
        <title>@ViewData["PageTitle"]</title>
    </head>
    <body>
        <h1>@ViewBag.ShopName</h1>
        <p>@ViewBag.Address</p>
        <p>@ViewBag.OpenHours</p>
        <p>@ViewBag.ProductDescription</p>
    </body>
</html>