@model OopMvcApplication.Models.Student
@{
    ViewData["Title"] = "Detail";
}

<ul>
    <li><strong>ID:</strong> @Model.Id</li>
    <li><strong>Name:</strong> @Model.Name</li>
    <li><strong>Major:</strong> @Model.Major</li>
    <li><strong>Telegram:</strong> @Model.Telegram</li>
    <li><strong>Date of Birth:</strong> @Model.DateOfBirth.ToString("yyyy-MM-dd")</li>
    <li><strong>Email:</strong> @Model.Email</li>
</ul>